.screen {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
}

.screen .title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #383838;
}

.screenHome .homeCardsWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.screenHome .homeCardsWrapper .productCard {
  width: 270px;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(232, 229, 232, 0.63);
  -moz-box-shadow: 2px 2px 6px 0px rgba(232, 229, 232, 0.63);
  box-shadow: 2px 2px 6px 0px rgba(232, 229, 232, 0.63);
}

.screenHome .homeCardsWrapper .productCard a {
  color: #3a3a3a;
}

.screenHome .homeCardsWrapper .productCard a .cardName {
  height: 60px;
  overflow: auto;
  line-height: 17.5px;
}

.screenHome .homeCardsWrapper .productCard a .cardName::-webkit-scrollbar {
  width: .7rem;
}

.screenHome .homeCardsWrapper .productCard a .cardName::-webkit-scrollbar-thumb {
  background-color: #f7f6f7;
}

.screenHome .homeCardsWrapper .productCard a img {
  width: 100%;
  margin: 5px 0;
}
