@import "./mediaqueries";
main {
    min-height: 87vh;
    padding: 3rem 0;    
  }

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    @include respond(laptop) {
      width: 90%;
  }
}