.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    background: rgb(0, 87, 128);
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}