.is-active {
    /* transition: all .5s ease-in-out !important; */
    color: #3a3a3a !important;
    text-decoration: underline solid #3a3a3a 5px !important;

    .linkIcons {
        color: #3a3a3a !important;
    }
}

.navbar {
    min-height: 8vh;
    background: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 2px 1px 1px rgba(250, 250, 250, 0.61);
    -moz-box-shadow: 0px 2px 1px 1px rgba(250, 250, 250, 0.61);
    box-shadow: 0px 2px 1px 1px rgba(250, 250, 250, 0.61);

    .navbarWrapper {
        min-height: 8vh;
        display: flex;
        align-items: flex-end;

        .brand {
            width: 30%;
            padding-bottom: 1.5rem;
            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: max-content;
                height: 25px;

                .dot {
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    background-color: #a7e8fc;
                    border-radius: 20%;
                    margin-right: 10px;
                    transition: all .5s ease-in-out;
                }

                .text {
                    padding: 0px;
                    height: 25px;
                    font-family: 'Libre Barcode 39', cursive;
                    font-size: 4rem;
                    color: #3a3a3a;
                    transition: all .5s ease-in-out;
                }

                @media (hover: hover) {
                    &:hover .dot {
                        background: #8de3fd;
                        transform: scale(1.05);
                    }

                    &:hover .text {
                        color: #3a3a3a;
                    }
                }
            }
        }

        .navLinks {
            width: 70%;

            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                li {
                    margin-left: 4rem;
                    padding-bottom: 1.5rem;


                    a {
                        font-family: 'Nunito Sans', sans-serif;
                        color: #858585;
                        font-size: 1.25rem;
                        font-weight: 900;
                        letter-spacing: 1px;
                        display: flex;
                        align-items: center;

                        .linkIcons {
                            color: #858585;
                            transition: all .5s ease-in-out;
                        }

                        span {
                            margin-left: 2.5px;
                            transition: all .5s ease-in-out;

                        }

                        @media (hover: hover) {
                            &:hover .linkIcons {
                                color: #3a3a3a;
                            }

                            &:hover span {
                                color: #3a3a3a;
                            }
                        }

                    }
                }
            }
        }
    }
}